* {
    box-sizing: border-box;
}
:root {
    --primary-color: #936cdd;
    --secondary-color: #201830;
    --desc-color: #665f73;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
.btn {
    text-align: center;
    min-width: var(--width);
    height: var(--height);
    border-radius: var(--radius);
    background: var(--primary-color);
    display: inline-block;
    line-height: var(--height);
    --width: 157px;
    --height: 62px;
    --radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: white;
}
.btn:hover {
    opacity: 0.8;
}
.heading-h1 {
    color: var(--secondary-color);
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 114.286% */
}
.heading-h2 {
    color: var(--secondary-color);
    /* H2 */
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
}
.desc-p1 {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.btn-1 {
    color: var(--secondary-color);
    /* Button 1 */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
/* Header */
header {
    padding-top: 42px;
    background: #fff8f3;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list {
    display: flex;
    gap: 28px;
}
.header-items {
    position: relative;
}
.header-items:hover .header-subnav {
    display: block;
}
.header-items:nth-child(3):after {
    content: url(../css/img/subnav.svg);
    position: absolute;
    right: -5px;
    top: 4px;
    cursor: pointer;
}
.header-link,
.header-sub__link {
    padding: 5px 10px;
    color: #665f73;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.header-subnav {
    padding-top: 10px;
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
}
.header-sub__item {
    margin-bottom: 10px;
}
.action > * {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}
.action {
    display: flex;
    align-items: center;
}
.btn-in {
    color: var(--secondary-color);
}
.btn-up {
    margin-left: 28px;
    background: var(--secondary-color);
    color: white;
    --width: 116px;
    --height: 48px;
}
/* Hero */
.hero {
    margin-top: 110px;
}
.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-media {
    width: calc(570 / 1170 * 100%);
}
/* Media */

/* Content */
.hero-heading {
    width: 470px;
    position: relative;
}
.hero-heading::after {
    content: url(../css/img/content-deco.svg);
    position: absolute;
    left: 33px;
    top: 103px;
    z-index: -1;
}
.hero-desc {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 470px;
}
.hero-action {
    display: flex;
    align-items: center;
}
.listen-btn {
    margin-left: 28px;
    margin-right: 8px;
}
.listen-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}