* {
    box-sizing: border-box;
}
:root {
    --primary-color: #936cdd;
    --secondary-color: #201830;
    --desc-color: #665f73;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
.btn {
    text-align: center;
    min-width: var(--width);
    height: var(--height);
    border-radius: var(--radius);
    background: var(--primary-color);
    display: inline-block;
    line-height: var(--height);
    --width: 157px;
    --height: 62px;
    --radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: white;
}
.btn:hover {
    opacity: 0.8;
}
.heading-h1 {
    color: var(--secondary-color);
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 114.286% */
}
.heading-h2 {
    color: var(--secondary-color);
    /* H2 */
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
}
.desc-p1 {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.btn-1 {
    color: var(--secondary-color);
    /* Button 1 */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
/* Header */
header {
    padding-top: 42px;
    background: #fff8f3;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list {
    display: flex;
    gap: 28px;
}
.header-items {
    position: relative;
}
.header-items:hover .header-subnav {
    display: block;
}
.header-items:nth-child(3):after {
    content: url(../css/img/subnav.svg);
    position: absolute;
    right: -5px;
    top: 4px;
    cursor: pointer;
}
.header-link,
.header-sub__link {
    padding: 5px 10px;
    color: #665f73;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.header-subnav {
    padding-top: 10px;
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
}
.header-sub__item {
    margin-bottom: 10px;
}
.action > * {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}
.action {
    display: flex;
    align-items: center;
}
.btn-in {
    color: var(--secondary-color);
}
.btn-up {
    margin-left: 28px;
    background: var(--secondary-color);
    color: white;
    --width: 116px;
    --height: 48px;
}
/* Hero */
.hero {
    margin-top: 110px;
}
.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Media */
.hero-media {
    width: calc(570 / 1170 * 100%);
    display: flex;
    gap: 30px;
}
.hero-image {
    width: 270px;
    height: 302px;
    border-radius: 8px;
}
.hero-img {
    max-width: 100%;
    min-height: 100%;
}
.hero-audio__player {
    width: 194px;
    height: 60px;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    z-index: 1;
    position: relative;
}
.hero-listener {
    margin-top: 23px;
}
.podcasts-listener {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}
.listener-list {
    margin-top: 10px;
    display: flex;
}
.listener-user,
.listener-more {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: -18px;
}
.listener-user:first-child {
    margin-left: 0;
}
.listener-more {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 183.333% */
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}
.listener-avt {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.podcast-qnt {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #ff9051;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 118px;
    margin-top: 8px;
    position: relative;
}
.podcast-qnt::before {
    content: url(../css/img/podcasts-deco.svg);
    display: inline-block;
    position: absolute;
    top: 42px;
    left: -58px;
}
.podcast-qnt::after {
    content: url(../css/img/podcasts-deco.svg);
    display: inline-block;
    position: absolute;
    bottom: -43px;
    left: 32px;
}
.podcast-qnt__text {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 14px; /* 100% */
}
.podcast-qnt__text:last-child {
    margin-top: 4px;
    color: #ffefe7;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 100% */
}
.podcast-social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 18px;
}
.hero-image__right {
    margin-top: 28px;
}
.podcast-singer {
    width: 194px;
    height: 60px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -76px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
.podcast-info {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 100% */
}
.podcast-info:last-child {
    margin-top: 6px;
    color: var(--desc-color);
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
}
/* Content */
.hero-heading {
    width: 470px;
    position: relative;
}
.hero-heading::after {
    content: url(../css/img/content-deco.svg);
    position: absolute;
    left: 33px;
    top: 103px;
    z-index: -1;
}
.hero-desc {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 470px;
}
.hero-action {
    display: flex;
    align-items: center;
}
.listen-btn {
    margin-left: 28px;
    padding-right: 8px;
}
.listen-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
